$font-family-title: 'Ubuntu', sans-serif;
$font-family-default: 'Nunito', sans-serif;
$color-green-dark: #018F74;
$color-green-light: #4bc3aa;
$color-white: #ffffff;
$color-default: #707070;
$background-popup: rgba(1, 143, 116, 0.6);

h1,
.h1 {
    font-family: $font-family-title;
    font-size: 20px;
    font-weight: bold;
    color: $color-green-dark;
    margin: 0;
    padding: 0;
}
h2,
.h2 {
    font-family: $font-family-title;
    font-size: 16px;
    font-weight: bold;
    color: $color-white;
    margin: 0;
    padding: 0;
}
h3,
.h3 {
    font-family: $font-family-default;
    font-size: 11px;
    color: $color-default;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h4,
.h4 {
    font-family: $font-family-default;
    font-size: 11px;
    color: $color-white;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p {
    font-family: $font-family-default;
    font-size: 9px;
    color: $color-default;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: $font-family-default;
    height: 100%;
    min-height: 100%;
}

@import "popup-test.scss";
@import "header.scss";
@import "nav.scss";
@import "project.scss";