header#header{
    height: 110px;
    background-color: $color-green-dark;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-end;
    .bg-header{
        width: 467px;
        background-color: $color-green-light;
        position: absolute;
        top: 0;
        left: -60px;
        bottom: 0;
        -webkit-transform:skew(-45deg);
        -moz-transform:skew(-45deg);
        -o-transform:skew(-45deg);
        tranform:skew(-45deg);
    }
    .logo{
        width: 82px;
        height: 82px;
        position: absolute;
        top: 13px;
        left: 46px;
        background-color: $color-white;
        border-radius: 50%;
        img {
            width: 82px;
            height: 82px;
        }
    }
    a.button{
        width: 92px;
        height: 100%;
        background-color: $color-green-light;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 35px;
        .logout{
            width: 42px;
            height: 37px;
        }
        .profile{
            width: 38px;
            height: 40px;
        }
    }
}