@import "variables.scss";

header#header{
    height: 55px;
    background-color: $color-green-dark;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
    .bg-header{
        width: 467px;
        background-color: $color-green-light;
        position: absolute;
        top: 0;
        left: -60px;
        bottom: 0;
        -webkit-transform:skew(-45deg);
        -moz-transform:skew(-45deg);
        -o-transform:skew(-45deg);
        tranform:skew(-45deg);
    }
    .logo{
        width: 41px;
        height: 41px;
        position: absolute;
        top: 7px;
        left: 46px;
        background-color: $color-white;
        border-radius: 50%;
        img {
            width: 41px;
            height: 41px;
        }
    }
    a.button{
        width: 92px;
        height: 100%;
        background-color: $color-green-light;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 35px;
        .logout{
            width: 21px;
            height: 19px;
        }
        .profile{
            width: 19px;
            height: 20px;
        }
    }
}