.popup {
    display: none;
    position: absolute;
    top: 113px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .popup-content {
        background-color: $color-white;
        padding: 20px;
    }
}