.box {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    width: 100%;
    height: 650px;
    padding-top: 15px;
}
.category-box {
    max-height: 650px;
    border: 2px solid $color-green-dark;
    overflow-y: scroll;
}
.category-box-header {
    height: 30px;
    background-color: $color-green-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.feature-box {
    width: 70%;
    height: auto;
    border: 1px solid blue;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
}
.feature-id {
    background: green;
    height: 100%;
    width: 5%;
    font-weight: bold;
    color: white;
}
.feature-content {
    width: 65%;
    background: red;
    height: 100%;
}
.feature-action {
    width: 30%;
    background: green;
    height: 100%;
}