{% extends 'home.html.twig' %}

{% block title %}Bienvenue sur Backlog{% endblock %}

{% block body %}
    <header>
        <div class="logo-box">
            <a href="{{ path('root') }}">
                <img class="logo" alt="logo" src="{{ asset('assets/img/logo.svg') }}" />
            </a>
        </div>
    </header>
    <div class="form-container">
        <div class="form-box">
            <div class="lateral-box"></div>
            <div class="form">
                <h1>bienvenue sur backlog</h1>
                <br>
                <div class="link">
                    <a class="custom-button" href="#">Se connecter</a>
                    <br>
                    <br>
                    <a class="custom-button" href="#">S'inscrire</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
