{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <nav id="main-nav">
        <h1>Vos projets</h1>
    </nav>

    <div class="container">
        <div class="row box-projects">
            {% for project in projects %}
                <div class="col-sm-2 offset-sm-1" style="display: flex;">
                    <div class="box-lateral"></div>
                    <div class="content">
                        <p class="project-title">{{ project.title }}</p>
                        <p class="project-title">
                            <a href="{{ path('project_show', {'id': project.id}) }}">Voir le projet</a>
                        </p>
                    </div>
                </div>
            {% else %}
                <p>Il n'y a encore aucun projets</p>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('project_new') }}">Create new</a>
{% endblock %}
