<form method="post" action="{{ path('category_delete', {'id': categoryform.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette catégorie ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoryform.id) }}">
    <input type="hidden" name="_project" value="{{ categoryform.project }}">
    <button class="btn"><img class="delete" alt="delete" src="{{ asset('assets/img/delete-white.png') }}" /></button>
</form>
