<div class="popup -edit_feature">
    <div class="popup-container">
        <div class="popup-content">
            {{ form_start(formFeature) }}
                <button class="btn submit">{{ button_label|default('Valider') }}</button>
            {{ form_end(formFeature) }}
        </div>
    </div>
    <span class="popup-background"></span>
</div>