{% extends 'base.html.twig' %}
    {% block nav %}
        <nav id="main-nav">
            <h1>{% block titleproject %}Titre du projet{% endblock %}</h1>
            <div class="space"></div>
            <a class="link-nav" href="" title="">Membre du projet</a>
            <div class="space"></div>
            <a class="link-nav" href="" title="">Ajouter une catégorie</a>
            <div class="space"></div>
            <a class="link-nav" href="{{ path('project_index') }}" title="Tous les projets">Tous les projets</a>
        </nav>
    {% endblock %}